html {
  height: 100%; }

body {
  height: 100%;
  background: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #444; }
  body.admin .main {
    padding-bottom: 90px; }

.wrapper {
  min-height: 100%;
  position: relative; }

.container-lg {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px; }

.container-feed {
  max-width: inherit;
  padding-left: 200px; }

a {
  color: #00a9e3;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; }
  a.more {
    color: #999; }

.btn {
  padding: 10px 15px;
  border-radius: 3px; }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none; }

.btn {
  transition: all 0.12s linear; }

.btn.btn-lg {
  padding: 12px 30px;
  font-size: 16px; }

.btn-light {
  color: #777; }
  .btn-light:hover {
    color: #333;
    background: #faeddd;
    border-color: #faeddd; }

.btn-success {
  background: #53cb83;
  border-color: #53cb83; }
  .btn-success:hover {
    background: #43bf74;
    border-color: #43bf74; }
  .btn-success:active {
    background: #39b269;
    border-color: #39b269; }
  .btn-success:active:focus {
    background: #39b269 !important;
    border-color: #39b269 !important; }

.btn-primary {
  background: #00a9e3;
  border-color: #00a9e3; }
  .btn-primary:hover {
    background: #17c4ff;
    border-color: #17c4ff; }
  .btn-primary:active {
    background: #0083b0;
    border-color: #0083b0; }
  .btn-primary:active:focus {
    background: #0083b0 !important;
    border-color: #0083b0 !important; }

a:focus {
  color: #00a9e3; }
a:hover {
  color: #333;
  outline: none;
  text-decoration: none; }
a:active, a:focus {
  outline: none;
  text-decoration: none; }

h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0; }

h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px; }

h4 {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 20px; }

h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px; }

p {
  line-height: 1.8;
  margin-bottom: 20px;
  color: #696f7c; }

.container-fluid {
  padding-left: 80px;
  padding-right: 80px; }

.row-padding-60 {
  margin-left: -60px;
  margin-right: -60px; }
  .row-padding-60 > div {
    padding-left: 60px;
    padding-right: 60px; }

.row-padding-10 {
  margin-left: -10px;
  margin-right: -10px; }
  .row-padding-10 > li,
  .row-padding-10 > div {
    padding-left: 10px;
    padding-right: 10px; }

.row-padding-5 {
  margin-left: -5px;
  margin-right: -5px; }
  .row-padding-5 > li,
  .row-padding-5 > div {
    padding-left: 5px;
    padding-right: 5px; }

.close {
  font-size: 36px;
  color: #FFF;
  font-weight: 300;
  text-shadow: none; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px !important; }

.row-padding-0 {
  margin: 0 !important; }
  .row-padding-0 > div {
    padding: 0 !important; }

.opacity-50 {
  opacity: 0.6; }

.form-group-sm {
  margin-bottom: 10px; }

#header {
  padding-left: 30px;
  padding-right: 30px;
  height: 100px;
  background: rgba(35, 40, 49, 0) !important;
  transition: all 0.15s linear; }
  #header.floating {
    height: 70px;
    background: rgba(35, 40, 49, 0.95) !important; }

.fixed-header {
  position: fixed;
  transition: all 0.15s linear;
  z-index: 2; }

.window {
  position: relative;
  bottom: 0; }

.section-gray {
  overflow: hidden; }

.logo {
  float: left; }
  .logo img {
    height: 46px; }
    .logo img.logo-text {
      height: 15px;
      margin-left: 10px; }

.main {
  padding-top: 150px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  color: #FFF;
  z-index: 1;
  background-color: #2b303b; }
  .main h1 {
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 30px; }

.blue-text {
  color: #00a9e3; }

.main p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  color: #FFF; }

.main-links {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right; }
  .main-links li {
    float: left; }
    .main-links li a {
      color: #FFF;
      font-size: 16px;
      font-weight: 300;
      padding: 8px 15px;
      border-bottom: 2px solid transparent; }
      .main-links li a:hover {
        border-bottom: 2px solid #FFF; }

.section {
  padding: 80px 0;
  position: relative;
  z-index: 3; }

.section-bottom-0 {
  padding-bottom: 0; }

.section-blue {
  background: #0058a1;
  color: #FFF; }

.stories-carousel {
  background: #0058a1; }

.section-black {
  background: #2b303b;
  color: #FFF; }

.section-white {
  background: #FFF; }

.section-gray {
  background: #edf0f5;
  z-index: 2; }

.section-blue p {
  opacity: 0.5; }
.section-blue a:hover {
  color: #FFF; }

.more-link {
  display: inline-block;
  margin-top: 10px; }

.about-area {
  margin-bottom: -40px;
  overflow: hidden; }

.about-box {
  position: relative;
  padding-left: 80px;
  margin-bottom: 40px; }
  .about-box .close {
    color: #000;
    transition: all 0.15s linear; }
  .about-box img {
    position: absolute;
    left: 0;
    top: 0; }

.pic-img {
  width: 64px;
  height: 64px; }

.q-box {
  text-align: center; }
  .q-box p {
    font-size: 18px; }

.q-person {
  display: inline-block;
  position: relative;
  padding-left: 80px;
  text-align: left;
  min-height: 60px;
  margin-bottom: 20px; }

.q-avatar {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0; }

.q-name {
  margin-top: 8px;
  display: block;
  font-size: 18px; }

.q-position {
  display: block;
  font-size: 14px; }

.product-logo {
  height: 80px;
  margin-bottom: 20px; }

.half-box {
  position: relative;
  min-height: 520px;
  align-items: center;
  display: flex; }

.half-box-img {
  background-size: cover;
  background-position: center center;
  min-height: 520px;
  height: 100%;
  position: absolute; }

.half-box-right {
  top: 0;
  right: 0;
  left: 50%; }

.half-box-left {
  top: 0;
  right: 50%;
  left: 0; }

.product-box {
  display: table;
  padding-top: 60px;
  padding-bottom: 60px; }

.product-box-container {
  display: table-cell;
  vertical-align: middle;
  min-height: 520px;
  height: 100%; }

.window {
  background: #FFF; }

.product-window {
  width: 800px; }

.half-box-left .product-window {
  position: absolute;
  right: 0;
  bottom: 0; }

.half-box-right .product-window {
  position: absolute;
  left: 0;
  bottom: 0; }

.product-window .window-box {
  height: 400px; }
.product-window .window-header {
  background: #edf0f5; }

.window-box {
  height: 245px;
  background-size: cover;
  background-position: top center; }

.window-header {
  height: 44px;
  position: relative;
  border-radius: 3px 3px 0 0; }

.action1, .action2, .action3 {
  background: #d9dbdd;
  border-radius: 30px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 25px;
  top: 18px; }

.action2 {
  left: 40px; }

.action3 {
  left: 56px; }

.link {
  font-size: 18px;
  margin-bottom: 20px; }

.section-stories {
  padding-top: 50px;
  position: relative;
  z-index: 8;
  color: #FFF; }
  .section-stories p {
    opacity: 1;
    color: #FFF; }
  .section-stories:before {
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    background: #0058a1;
    transform: rotate(45deg);
    position: absolute;
    right: 50%;
    top: 280px;
    margin-right: -10px;
    z-index: 10; }
  .section-stories a:hover {
    color: #FFF; }

.facts-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .facts-list li {
    float: left;
    width: 20%;
    text-align: center;
    position: relative; }
  .facts-list strong {
    font-size: 30px;
    display: block;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px; }

.footer {
  background: #232831;
  color: #9da5b0;
  font-size: 13px; }
  .footer a {
    color: #9da5b0; }
    .footer a:hover {
      color: #FFF; }
  .footer p {
    margin-bottom: 0; }
  .footer strong {
    display: block;
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px; }

.copyright {
  position: relative;
  padding-left: 120px; }

.footer-logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 80px;
  opacity: 0.2; }

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
  margin-top: 20px;
  overflow: hidden; }
  .social li {
    margin-right: 10px;
    float: left; }
    .social li a {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 44px;
      background: rgba(255, 255, 255, 0.1);
      color: #9da5b0;
      opacity: 0.5; }
      .social li a:hover {
        color: #FFF;
        background: rgba(255, 255, 255, 0.2); }
      .social li a i {
        color: #FFF;
        font-size: 18px; }

.q-box a {
  color: #FFF;
  opacity: 0.5; }
  .q-box a:hover {
    opacity: 1;
    text-decoration: underline; }

.owl-theme .owl-dots .owl-dot span {
  background: #FFF;
  opacity: 0.2; }
.owl-theme .owl-dots .owl-dot.active span {
  background: #FFF;
  opacity: 1;
  width: 16px;
  height: 16px;
  margin: 2px 3px; }
.owl-theme .owl-dots .owl-dot:hover span {
  background: #FFF;
  opacity: 0.5; }
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px; }

.stories-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: -20px;
  margin-bottom: 30px; }
  .stories-list li {
    float: left;
    margin: 0 20px; }
    .stories-list li a {
      opacity: 0.5; }
      .stories-list li a:hover {
        opacity: 1; }

.sub-title {
  font-size: 30px; }

.section-gradient-half-right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 50%);
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 50%);
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); }

.section-gradient-half-left {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 50%, white 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 50%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); }

.about-show-area {
  margin: 80px 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: -100px;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out; }
  .about-show-area .about-box {
    padding-right: 80px; }

.about-hide-area {
  transition: all 0.3s ease-in-out;
  position: relative;
  bottom: 0; }

.more-show-1 .about-show-area-1, .more-show-2 .about-show-area-2, .more-show-3 .about-show-area-3, .more-show-4 .about-show-area-4 {
  opacity: 1;
  top: 0;
  z-index: 2; }

.more-show .about-hide-area {
  opacity: 0;
  bottom: -100px;
  z-index: 1; }

.about-close {
  position: relative;
  width: 30px;
  height: 30px;
  right: -80px;
  transition: all 0.15s linear; }
  .about-close:before {
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background: #000;
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    left: 0; }
  .about-close:after {
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background: #000;
    transform: rotate(-45deg);
    position: absolute;
    top: 15px;
    left: 0; }

.about-window {
  width: 700px;
  height: 1000px;
  border-radius: 3px;
  background-size: 100% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

.about-window-container {
  margin-top: 40px;
  padding-left: 80px; }

.q-box {
  transition: all 0.3s ease-in-out;
  opacity: 0; }

.q-carousel .owl-item.active .q-box {
  opacity: 1; }

.about-box-show-more {
  cursor: pointer; }

.logo-bg {
  width: 994px;
  height: 1019px;
  background: url("../img/ano_bg.png");
  position: fixed;
  left: 30px;
  bottom: -100px;
  z-index: 1;
  background-repeat: no-repeat; }

.bottom-box {
  overflow: hidden;
  position: relative;
  z-index: 2; }
  .bottom-box .container {
    position: relative;
    z-index: 5; }
  .bottom-box .section {
    position: static; }
  .bottom-box.overindex {
    position: relative;
    z-index: 100; }

.users-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block; }
  .users-list li {
    width: 180px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    height: 270px;
    background: rgba(255, 255, 255, 0.05); }

.offices-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block; }

.office-item {
  display: block;
  background: rgba(255, 255, 255, 0.05);
  text-align: left;
  padding: 15px; }

.city {
  font-size: 16px;
  display: block;
  margin-bottom: 10px; }

.office-position {
  font-size: 14px;
  opacity: 0.3;
  display: block; }

.users-list li .user-img {
  display: block;
  height: 180px;
  background-size: cover;
  background-position: center top; }

.facts-show {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #232831;
  transition: all 0.1s linear;
  position: relative;
  margin-bottom: -80px; }

.about-user {
  display: block;
  padding: 10px;
  text-align: left; }
  .about-user .user-name {
    display: block;
    font-size: 16px; }
  .about-user .user-position {
    font-size: 14px;
    opacity: 0.3; }

.facts-list .arrow {
  display: block;
  width: 40px;
  height: 40px;
  background: #232831;
  transform: rotate(45deg);
  position: absolute;
  right: 50%;
  margin-right: -20px;
  bottom: -105px;
  transition: all 0.3s ease-in-out; }
.facts-list .fact-item {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  color: #FFF; }
  .facts-list .fact-item.collapsed {
    color: #9da5b0; }
    .facts-list .fact-item.collapsed .arrow {
      opacity: 0;
      bottom: -125px; }
  .facts-list .fact-item:hover {
    color: #FFF; }

.logos-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block; }
  .logos-list li {
    float: left;
    display: inline-block;
    margin: 0 20px; }
    .logos-list li img {
      max-height: 80px; }

.stories-carousel .owl-dots {
  position: relative;
  top: -80px;
  z-index: 1000; }

.owl-carousel {
  z-index: 5;
  position: static; }
  .owl-carousel .owl-item .storie-logo {
    text-align: center;
    margin-bottom: 5px; }
    .owl-carousel .owl-item .storie-logo img {
      width: inherit;
      max-width: 100%;
      height: 80px;
      margin: 0 auto; }

#map {
  width: 100%;
  height: 300px;
  margin-top: -40px;
  position: relative;
  z-index: 6; }

.owl-carousel .owl-stage-outer {
  z-index: 6; }

.sales-box i {
  margin-left: 10px; }

.user-card {
  background: rgba(255, 255, 255, 0.05);
  height: 180px;
  position: relative;
  padding-left: 190px; }
  .user-card .user-img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 180px;
    width: 180px;
    background-size: cover;
    background-position: center top; }
  .user-card .social {
    position: absolute;
    bottom: 20px;
    left: 200px; }
  .user-card .about-user {
    padding: 20px 10px; }

.title-with-sub-text {
  margin-bottom: 50px; }
  .title-with-sub-text h2 {
    margin-bottom: 15px; }
  .title-with-sub-text .sub-desc {
    color: #9da5b0; }

.user-card .social li a {
  line-height: 41px; }

ul.modern-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #696f7c; }
  ul.modern-list li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 5px; }
    ul.modern-list li:before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background: #00a9e3;
      border-radius: 10px;
      position: absolute;
      left: 0;
      top: 8px; }
  ul.modern-list.green-list li:before {
    background: #38bd67; }

.icon-64 {
  font-size: 64px; }

.icon-blue {
  color: #00a9e3; }

.accent-box {
  text-align: center;
  margin-top: 30px; }
  .accent-box h3 {
    margin-bottom: 5px;
    font-size: 24px !important; }
  .accent-box p {
    font-size: 16px;
    line-height: 1.5; }
    .accent-box p.font-md {
      font-size: 14px; }
  .accent-box i {
    display: block;
    margin-bottom: 10px; }
  .accent-box h3 {
    font-size: 40px; }

.accent-one-line .accent-box {
  margin-top: 0; }
  .accent-one-line .accent-box p {
    margin-bottom: 0; }

.space {
  height: 50px;
  width: 50px; }

.blockquote p {
  font-size: 18px;
  line-height: 1.5; }

.action-btn {
  margin-left: -5px; }
  .action-btn .btn {
    margin-left: 5px;
    margin-right: 5px; }

.gray-box {
  display: flex;
  align-items: center; }
  .gray-box .logo-box {
    height: 100%; }

.anotheria-box {
  background: #0058a1; }

.logo-box {
  height: 180px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 15px; }

.logo-help-text {
  padding: 20px 30px;
  text-transform: uppercase;
  font-weight: 600;
  background: #10a8e0;
  color: #FFF;
  position: absolute;
  top: -30px; }

.steps-list {
  padding-left: 90px;
  position: relative; }
  .steps-list:before {
    display: block;
    content: "";
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #edf0f5; }
  .steps-list .steps-box {
    position: relative;
    margin-bottom: 60px; }
    .steps-list .steps-box:last-child {
      margin-bottom: 0; }
    .steps-list .steps-box .step-num {
      position: absolute;
      left: -90px;
      top: -5px;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      text-align: center;
      line-height: 50px;
      font-size: 21px;
      background: #00a9e3;
      font-weight: 600;
      color: #FFF;
      border: 5px solid #FFF; }
      .steps-list .steps-box .step-num.check-step {
        background: #38bd67; }
      .steps-list .steps-box .step-num.gray-step {
        background: #edf0f5;
        color: #999; }
      .steps-list .steps-box .step-num.step-call-to-action {
        top: -15px; }
      .steps-list .steps-box .step-num:before {
        display: block;
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        left: -5px;
        top: -5px;
        border: 2px solid #edf0f5;
        border-radius: 60px; }

.half-section {
  min-height: 440px; }

.icon-128 {
  width: 96px;
  height: 96px; }

.lightgray-bg {
  background: #edf0f5;
  padding: 20px 20px; }

.logo-grayout {
  width: 1000px;
  height: 1000px;
  position: fixed;
  bottom: -200px;
  right: -200px;
  z-index: -1;
  opacity: 0.5; }

.card p {
  font-size: 14px; }

.badges-list {
  margin-bottom: 15px; }

.card-title {
  margin-bottom: 15px; }

.cards-list {
  padding-left: 90px;
  position: relative; }
  .cards-list:before {
    display: block;
    content: "";
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #edf0f5; }
  .cards-list .card {
    position: relative;
    margin-bottom: 20px; }
    .cards-list .card:last-child {
      margin-bottom: 0; }
    .cards-list .card .step-num {
      position: absolute;
      left: -90px;
      top: -5px;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      text-align: center;
      line-height: 50px;
      font-size: 21px;
      background: #edf0f5;
      font-weight: 600;
      color: #999;
      border: 5px solid #FFF; }
      .cards-list .card .step-num:before {
        display: block;
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        left: -5px;
        top: -5px;
        border: 2px solid #edf0f5;
        border-radius: 60px; }

.section-search {
  padding-top: 40px;
  padding-bottom: 40px; }

.gradient-hidden {
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%); }

.bline {
  display: block;
  position: absolute;
  width: 2px;
  background: #FFF;
  left: 50%;
  top: 400px;
  height: 200px;
  z-index: 100;
  margin-left: -1px; }

.dline {
  display: block;
  position: absolute;
  width: 2px;
  background: #FFF;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -1px; }

.start-line {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #FFF;
  position: absolute;
  top: -50px;
  left: -24px;
  align-items: center;
  justify-content: center;
  transition: all 0.15s linear; }

.scroll .start-line {
  border-color: #00a9e3; }

.wline {
  display: block;
  position: absolute;
  width: 2px;
  background: #DDD;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -1px; }

.line-scroll {
  position: relative; }

.overtitle {
  display: inline-block;
  position: relative;
  z-index: 10;
  background: #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: -15px;
  margin-top: -15px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600; }

.line-icons-list {
  margin-top: 40px;
  margin-bottom: 80px; }
  .line-icons-list.only-text {
    margin-top: 80px;
    margin-bottom: 60px; }
    .line-icons-list.only-text .line-icon-item {
      margin-top: 60px; }

.line-icon {
  width: 260px;
  height: 260px; }

.vline-right {
  display: block;
  height: 2px;
  width: 120px;
  background: #DDD;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1px; }
  .vline-right .vline-start {
    position: absolute;
    top: -10px;
    left: -10px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #DDD;
    background: #FFF; }
  .vline-right .vline-end {
    position: absolute;
    top: -6px;
    right: -6px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 20px;
    border: 2px solid #DDD;
    background: #FFF; }

.vline-right.vline-blue {
  background: #00a9e3; }
  .vline-right.vline-blue .vline-start {
    border: 2px solid #00a9e3;
    z-index: 100; }
  .vline-right.vline-blue .vline-end {
    border: 2px solid #00a9e3;
    z-index: 100 !important; }

.vline-left {
  display: block;
  height: 2px;
  width: 120px;
  background: #DDD;
  position: absolute;
  right: 50%;
  top: 50%; }
  .vline-left .vline-start {
    position: absolute;
    top: -10px;
    right: -10px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #DDD;
    background: #FFF;
    z-index: 10; }
  .vline-left .vline-end {
    position: absolute;
    top: -6px;
    left: -6px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 20px;
    border: 2px solid #DDD;
    background: #FFF; }

.vline-left.vline-blue {
  background: #00a9e3; }
  .vline-left.vline-blue .vline-start {
    border: 2px solid #00a9e3;
    z-index: 100; }
  .vline-left.vline-blue .vline-end {
    border: 2px solid #00a9e3;
    z-index: 100 !important; }

.section-black .vline-start {
  background-color: #2b303b; }
.section-black .vline-end {
  background-color: #2b303b; }

.line-icon-item {
  position: relative;
  font-size: 16px;
  margin-bottom: 30px;
  z-index: 100; }

.features-box {
  margin: 60px 0 20px 0;
  padding: 0; }
  .features-box .feature-item {
    padding: 0;
    font-size: 16px;
    z-index: 100;
    position: relative; }
    .features-box .feature-item img {
      height: 60px; }
    .features-box .feature-item .feature-title {
      display: block;
      min-height: 48px;
      margin-top: 10px;
      max-width: 200px;
      margin-left: 40px;
      margin-right: 40px; }
    .features-box .feature-item .feature-icon {
      display: flex;
      align-items: center;
      margin-left: 60px;
      margin-right: 60px;
      min-height: 140px; }
      .features-box .feature-item .feature-icon.text-left {
        justify-content: flex-start; }
      .features-box .feature-item .feature-icon.text-right {
        justify-content: flex-end; }

.section-black .overtitle {
  background: #2b303b; }

.page-action {
  text-align: center;
  position: relative;
  z-index: 100; }
  .page-action .btn {
    font-weight: 600;
    text-transform: uppercase; }

.anim-line {
  display: block;
  position: absolute;
  top: 0;
  width: 2px;
  background: #00a9e3;
  z-index: 10; }

.section-scroll {
  position: static; }

.overindex {
  z-index: 10; }

.last-line {
  position: absolute;
  width: 2px;
  height: 80px;
  background: #FFF;
  bottom: 0;
  z-index: 1000; }

.main-title {
  color: #CCC; }

.section-black .main-title {
  color: #FFF;
  opacity: 0.1; }

.anim-title {
  position: absolute;
  left: 0;
  top: 15px; }

.line-icon-container {
  position: relative;
  display: inline-block; }

.line-icon-anim {
  position: absolute;
  top: 0;
  left: 0; }

.page-action-container {
  display: inline-block;
  position: relative; }
  .page-action-container .btn-action-blue {
    position: absolute;
    left: 0;
    top: 0; }

@-webkit-keyframes scroll-arrow {
  0% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0); }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 3px, 0); }
  100% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0); } }
@keyframes scroll-arrow {
  0% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0); }
  50% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0); }
  100% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0); } }
.scroll-arrow {
  display: inline-block;
  position: relative;
  animation: scroll-arrow 1s 0s linear infinite;
  text-align: center;
  top: 3px; }
  .scroll-arrow img {
    width: 22px;
    height: 22px; }

.scroll-arrow-blue {
  position: absolute;
  top: 2px;
  left: 0;
  opacity: 0;
  transition: all 0.3s linear; }

.scroll-arrow-white {
  transition: all 0.3s linear; }

.anim-auto-line {
  position: absolute;
  background: #00a9e3;
  width: 2px;
  top: 0;
  height: 0;
  transition: all 0.3s linear; }

.scroll .anim-auto-line {
  height: 200px; }
.scroll .scroll-arrow-blue {
  opacity: 1; }
.scroll .scroll-arrow-white {
  opacity: 0; }

.feature-item .vline-start {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #00a9e3;
  background: #FFF;
  z-index: 10; }

.fixed-top {
  z-index: 2 !important; }

.section-main {
  min-height: 600px;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center; }
  .section-main h1 {
    font-size: 70px;
    font-weight: 400; }
  .section-main p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8; }
  .section-main .action-btn {
    margin-top: 30px; }

.gray-bg {
  color: #FFF;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  .gray-bg p {
    color: #FFF; }
  .gray-bg ul {
    color: #FFF; }
  .gray-bg:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #232831;
    opacity: 0.7; }

.blue-bg {
  color: #FFF;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  .blue-bg p {
    color: #FFF; }
  .blue-bg ul {
    color: #FFF; }
  .blue-bg:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #0058a1;
    opacity: 0.9; }

.section-content {
  position: relative;
  z-index: 2; }
  .section-content h1 {
    margin-bottom: 20px; }

.section-actions {
  padding: 60px 0; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (max-width: 991px) {
  .facts-list {
    margin-bottom: -30px; }
    .facts-list li {
      width: 50%;
      margin-bottom: 30px; }

  .footer-logo {
    display: none; }

  .copyright {
    padding-left: 0;
    margin-bottom: 30px;
    overflow: hidden; }

  .footer {
    text-align: center; }

  .social {
    display: inline-block; }

  .location-box {
    margin-bottom: 30px; }

  .product-box-container {
    height: inherit;
    display: block;
    margin-bottom: 60px;
    text-align: center; }

  .section {
    padding: 60px 0; }

  .section-bottom-0 {
    padding-bottom: 0; }

  .stories-list li {
    display: block;
    float: none; }

  .main {
    text-align: center; }
    .main h1 {
      font-size: 40px;
      text-align: center; }
      .main h1 span.blue-text {
        display: block; }

  #header.fixed-header, .fixed-header {
    position: relative; }

  h2 {
    font-size: 30px; }

  .main {
    padding: 40px 0; }

  .logo {
    float: none;
    display: block;
    text-align: center; }

  .main-links {
    display: block;
    float: none;
    text-align: center;
    margin-top: 30px; }
    .main-links li {
      display: inline-block;
      float: none; }

  .container-fluid {
    padding-left: 15px;
    padding-right: 15px; }

  .row-padding-60 {
    margin-right: -15px;
    margin-left: -15px; }
    .row-padding-60 > div {
      padding-right: 15px;
      padding-left: 15px; }

  #header.fixed-header, .fixed-header {
    z-index: 100; }

  .logo-box {
    height: 340px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative; }
    .logo-box img {
      width: 100%;
      max-width: 300px; }

  .product-box-container {
    min-height: inherit; }

  .fixed-header {
    margin-top: 60px; }
    .fixed-header .row {
      justify-content: center; }

  .logo-text {
    display: none; }

  #header {
    position: absolute !important; }

  .half-box {
    min-height: 300px; }
    .half-box row {
      justify-content: center; }

  .product-box {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block; }

  .half-box-img {
    min-height: 300px; } }
@media (max-width: 767px) {
  .half-box-img {
    display: none; }

  .half-box {
    min-height: inherit; }

  .product-box {
    padding-top: 0;
    padding-bottom: 0;
    display: block; } }

/*# sourceMappingURL=common.css.map */
